<mat-card>
  <mat-card-content>
    <h2 class="example-h2">{{ user.cn }} - Properties</h2>
    <mat-tab-group class="demo-tab-group demo-group-coustom">
      <mat-tab label="User Information">
        <div class="demo-tab-content">
          <br>
          <form class="example-form" *ngIf="user != null">
            <div class="form-group">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Login ID" disabled value="{{ user.uid }}">
              </mat-form-field>
            </div>
            <div class="form-group">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="First Name" value="{{ user.givenName }}">
              </mat-form-field>
            </div>
            <div class="form-group">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Last Name" value="{{ user.sn }}">
              </mat-form-field>
            </div>
            <div class="form-group">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="User status" value="{{ user.inetUserStatus }}">
              </mat-form-field>
            </div>
          </form>
        </div>
      </mat-tab>
      <mat-tab label="Service Package Details" *ngIf="user != null">
        <div id="accordion">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  {{ user.inetCOS }}
                </button>
              </h5>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                <div class="form-group">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Mail Quota" value="{{ user.mailQuota }}">
                  </mat-form-field>
                </div>
                <div class="form-group">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Attachment Size Limit" value="{{ user.mailMsgQuota }}">
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Mail servis">
        <div class="demo-tab-content" *ngIf="user != null">
          <br>
          <div class="form-group">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Mail Host" value="{{ user.mailHost }}">
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Email Address" value="{{ user.mail }}">
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Mail servis status" value="{{ user.mailUserStatus }}">
            </mat-form-field>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Calendar Service Details">
        <div class="demo-tab-content" *ngIf="user != null">
          <br>
            <div class="form-group">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Timezone" value="{{ user.icsTimezone }}">
                </mat-form-field>
              </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>