.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}
  
.example-full-width {
   width: 100%;
}


.demo-tab-group {
    border: 1px solid #e8e8e8;
  }
  /* u ovoj klasi je zakucana visina da se ne bi pomera skrol kad se krece kroz tabove */
  /* povecati po potrebi */
  .demo-group-coustom {
    height: 400px; 
  }
  
  .demo-tab-content {
    padding: 16px;
  }

  .example-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }