<mat-toolbar color="primary">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <!-- <img src="assets/MTS-Telekom-final-logo.png" width="30" height="30" (click)="snav.toggle()" class="d-inline-block align-top" alt=""> -->
    <!-- <span style="font-size:30px;cursor:pointer" (click)="snav.toggle()">&#9776;</span> -->
    <h1 class="app-name">Delegated Administrator</h1>
    <!-- <span class="app-fill-remaining-space"></span>
    {{ uid }} |  -->
    <a href="http://am.sub04051331150.vcn0405133115.oraclevcn.com:14100/oam/server/logout">Sign out</a>
  </mat-toolbar>
  
  <mat-sidenav-container class="app-sidenav-container" mat-elevation-z15>
    <mat-sidenav #snav [opened]="!isScreenSmall()" [mode]="isScreenSmall() ? 'over' : 'side'">
      <mat-nav-list>
        <div *ngIf="nsRole === 'Top-level Admin Role'">
            <a mat-list-item [routerLink]="['/domains']" (click)="isScreenSmall() == true ? snav.toggle() : false">Organizations</a>
            <a mat-list-item (click)="isScreenSmall() == true ? snav.toggle() : false">New Organization</a>
            <a mat-list-item (click)="isScreenSmall() == true ? snav.toggle() : false">Alocate service packages</a>
        </div>
        <div *ngIf="isChosen === true">
          <a mat-list-item [routerLink]="['/user-search', domain]" (click)="isScreenSmall() == true ? snav.toggle() : false">{{ domain }}</a>
          <a mat-list-item [routerLink]="['/users', domain]" (click)="isScreenSmall() == true ? snav.toggle() : false">{{ domain }} - New user</a>
        </div>
      </mat-nav-list>
    </mat-sidenav>
  
    <mat-sidenav-content class="app-sidenav-content">
      <div class="container">
        <div class="jumbotron">
          <router-outlet></router-outlet>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>