<mat-toolbar color="primary" class="example-toolbar">
    <!-- <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button> -->
    <!-- <img src="assets/MTS-Telekom-final-logo.png" width="30" height="30" (click)="snav.toggle()" class="d-inline-block align-top" alt=""> -->
    <span style="font-size:30px;cursor:pointer" (click)="snav.toggle()">&#9776;</span>
    <h1 class="example-app-name">Delegated Administrator</h1>
    <span class="example-fill-remaining-space"></span>
    {{ uid }} | 
    <a href="http://am.sub04051331150.vcn0405133115.oraclevcn.com:14100/oam/server/logout">Sign out</a>
  </mat-toolbar>
  
  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #snav >
      <mat-nav-list>
        <div *ngIf="nsRole === 'Top-level Admin Role'">
            <a mat-list-item [routerLink]="['/domains']" (click)="snav.toggle()">Organizations</a>
            <a mat-list-item (click)="snav.toggle()">New Organization</a>
            <a mat-list-item (click)="snav.toggle()">Alocate service packages</a>
        </div>
        <div *ngIf="isChosen === true">
          <a mat-list-item (click)="snav.toggle(); goUserSearch()">{{ domain }}</a>
          <a mat-list-item [routerLink]="['/users', domain]" (click)="snav.toggle()">{{ domain }} - New user</a>
        </div>
      </mat-nav-list>
    </mat-sidenav>
  
    <mat-sidenav-content>
      <div id="container" class="container">
        <div class="jumbotron">
          <router-outlet></router-outlet>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>